configuration {
    width: 30;
    lines: 10;
    columns: 1;
    font: "whyosevka heavy 11";
    eh: 1;
    location: 0;
    yoffset: -20;
    xoffset: 0;
    /*display-drun: ;*/
}

element-text, element-icon {
    background-color: inherit;
    text-color:       inherit;
}
